* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: Arial, sans-serif;
}

ul, ol {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}